aiohttp
aiosignal
async-timeout
attrs
certifi
charset-normalizer
colorama
DateTime
frozenlist
idna
multidict
numpy
oauthlib
openai
pandas
psycopg2
python-dateutil
python-dotenv
pytz
requests
requests-oauthlib
six
tqdm
tweepy
urllib3
yarl
zope.interface