python-dotenv
threadpoolctl
numpy
joblib
scipy
scikit-learn==1.3.0
pytz
python-stdnum
phonenumbers
tzdata
tqdm
python-dateutil
click
nltk
faker
dateparser
textblob
scrubadub
chardet
tensorflow
keras
pinecone-client
pandas
openai
langchain
PyPDF2
xlrd